@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.switch{
    .isActive{
        display: none;
    }
    path{
        fill: rgba(var(--rgb-color), 0.5);
    }
    &:hover{
        path{
            fill: var(--text-color);
        }
    }
    position: fixed;
    top: 27px;
    left: 154px;
    z-index: 100;
    cursor: pointer;
    @media (max-width: $md-width) {
        display: none;
    }
}

.navSwitch{
    left: -200px;
}

.highlight{
    width: 100dvw !important;
    left: 0;
}

@media (min-width: $md-width) {
    .header-nav{
        flex-direction: column;
    }
}

.admin-button{
    @media (min-width: $md-width) {
        margin-left: 0;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 2.3rem;
        border-radius: 18px;
        color: var(--bg-color);
        cursor: pointer;
        background-color: var(--text-color);
        font-size: 1rem;
        font-weight: 600;
    }
}
