$header:[-logo,-nav,-btn];
$spacing: 15px;
$max-width: 1400px;
$min-width: 1024px;
$text-color: hsla(0, 0%, 63%, 1);
$main-color: rgb(192, 244, 147);


$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xxl-width: 1440px;
$xxxl-width: 1600px;
