@forward 'mixins';
@forward 'variables';
@use "tailwindcss" as *;

html,body{
    background-color: black;
}

*{
    color: white;
    list-style-type: none;
    ::selection{
        background-color: rgb(235, 255, 161);
        opacity: 0.8;
    }
    transition: all .6s cubic-bezier(.19,1,.22,1);
    flex-wrap: hidden;
}
@font-face {
    font-family: 'logo';
    src: url('../../public/logoChinese.ttf') format('truetype');
}
