@use "../globals.scss" as *;

main{
    width: 100%;
    .main{
        min-width: 100%;
        min-height: 100dvh;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        span{
            color: $main-color;
            font-size: 96px;
            font-family: 微软雅黑;
            font-weight: 550;
            cursor: context-menu;
            @media (max-width: 768px) {
                &{
                    font-size: 88px;
                }
                @media (max-width: 640px) {
                    &{
                        font-size: 48px;
                    }
                }
            }
        }
        &-container{
            width: fit-content;
            height: fit-content;
            flex-wrap: wrap;
            margin-top: 18dvh;
            @include flex();
            &-marquee{
                width: 90dvw;
                margin-top: 6dvh;
            }
        }
        .main-content-desc{
            min-width: 100%;
            span{
                color: $text-color;
                font-size: 22px;
                font-family: 微软雅黑;
                font-weight: 550;
                cursor: context-menu;
                @media (max-width: 768px) {
                    &{
                        font-size: 18px;
                    }
                    @media (max-width: 640px) {
                        &{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &-tabs{
            width: 100dvw;
            padding-left: 5dvw;
            padding-right: 5dvw;
        }
    }
    .content{
        &-desc{
            margin: 4dvw;
        }
    }
}

